.carroussel-agenda {
    overflow: auto;
}
.carroussel-agenda2 {
    display: -webkit-inline-box;
}
.card-agenda {
    background-color: white;
    padding: 10px;
    color: #333333;
    margin: 5px;
    width: 400px;
    flex: 1;
}
.card-agenda h2 {
    margin: 20px 0 40px 0;
}

.bannerStyle {
    position: relative;
}
.bannerStyle h4 {
    font-size: 16px;
    margin: 0 0 15px 0;
    font-weight: bold;
}
.bannerStyle p {
    position: absolute;
    right: 15px;
    bottom: 5px;
    margin: 0;
    font-size: 8px;
}

.bannerStyle2 {
    position: relative;
}
.bannerStyle2 h2 {
    padding: 20px;
    background-color: white;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}
.bannerStyle2 h4 {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100%;
    z-index: 9995;
    left: 0;
    display: block !important;
}
.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100%;
    z-index: 9995;
    right: 0;
    display: block !important;
}