<head><title>{{title}}</title></head>
<div class="wrapper">
    <div *ngIf="user.getUserLoggedIn()" class="sidebar" data-color="blue" dataa-image="assets/template/img/sidebar-5.jpg">
    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
        <div class="sidebar-wrapper">
            <div class="logo hidden-md hidden-lg">
                <span class="simple-text">
                    Menu
                </span>
            </div>

            <ul class="nav">
                <li [ngClass]="(currentUrl=='Painel')?'active':''">
                    <a (click)="goTo(['painel'], 'Painel')">
                        <i class="pe-7s-graph"></i>
                        <p>Painel</p>
                    </a>
                </li>
                <li [ngClass]="(currentUrl=='Contato')?'active':''">
                    <a (click)="goTo(['contato'], 'Contato')">
                        <i class="pe-7s-news-paper"></i>
                        <p>Contato</p>
                    </a>
                </li>
                <li [ngClass]="(currentUrl=='Vídeos')?'active':''">
                    <a (click)="goTo(['videos'], 'Vídeos')">
                        <i class="pe-7s-film"></i>
                        <p>Vídeos</p>
                    </a>
                </li>
                <li [ngClass]="(currentUrl=='Álbuns')?'active':''">
                    <a (click)="goTo(['albuns'], 'Álbuns')">
                        <i class="pe-7s-albums"></i>
                        <p>Albuns</p>
                    </a>
                </li>
                <li [ngClass]="(currentUrl=='Material')?'active':''">
                    <a (click)="goTo(['materiais'], 'Material')">
                        <i class="pe-7s-box1"></i>
                        <p>Materiais</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel" [ngClass]="(user.getUserLoggedIn())?'':'full-page'">
        <nav class="navbar navbar-default navbar-fixed" *ngIf="user.getUserLoggedIn()">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Administração</span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    <i class="pe-7s-config"></i> 
                                    <span class="hidden-md">Opções</span>
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <span class="notification hidden-sm hidden-xs" *ngIf="countmessages.length > 0">{{countmessages.length}}</span>
                                    <a style="cursor: pointer;" (click)="goTo(['mensagens'], 'Mensagens')"><i class="pe-7s-paper-plane"></i> Mensagens</a>
                                </li>
                                <li class="divider"></li>
                                <li><a (click)="deslogar()" style="cursor: pointer;"><i class="pe-7s-power"></i> Deslogar</a></li>
                            </ul>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <br  *ngIf="user.getUserLoggedIn()"/>
        <router-outlet></router-outlet>

        <footer class="footer" *ngIf="user.getUserLoggedIn()">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <span>{{yearDate}}</span> <a href="https://www.fuston.com.br/" target="_blank">Fuston Services</a>
                </p>
            </div>
        </footer>

    </div>
</div>